.botonesIngresoInvEgreso {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.botonesIngresoInvEgreso .botonIngresoDinero {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 2rem;
  height: 3rem;
  width: 25rem;
  border: 2px;
  border-top: 4px solid rgb(10, 37, 64);
  box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
}
.botonesIngresoInvEgreso .botonInvertir {
  height: 3rem;
  width: 62rem;
  font-size: 1.5rem;
  background-color: rgb(0, 179, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  color: aliceblue;
  box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
}
.botonesIngresoInvEgreso .botonEgresoDinero {
  background-color: white;
  box-shadow: 0 1px 1px 1px rgb(175, 173, 173);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 3rem;
  margin-right: 2rem;
  width: 25rem;
  border: 2px;
  border-top: 4px solid rgb(177, 0, 0);
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #f4f5ff;
}
.bodyIndex .form {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.bodyIndex .form .formIngreso {
  width: 28rem;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.bodyIndex .form .formIngreso .contenidoFormulario {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.bodyIndex .form .formIngreso .contenidoFormulario .imagenTextoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyIndex .form .formIngreso .contenidoFormulario .imagenTextoForm p {
  font-size: 1.5rem;
}
.bodyIndex .form .formIngreso .contenidoFormulario .imagenTextoForm .formImagen {
  height: 10rem;
  width: 10rem;
  margin: 0;
  padding-top: 1rem;
}
.bodyIndex .form .formIngreso .contenidoFormulario .sectionform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.bodyIndex .form .formIngreso .contenidoFormulario .sectionform input {
  width: 85%;
  height: 3rem;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1rem;
}
.bodyIndex .form .formIngreso .contenidoFormulario .sectionform input:hover {
  border: 1px solid black;
}
.bodyIndex .form .formIngreso .contenidoFormulario .sectionform input:focus {
  border: 2px solid #000ba0;
  outline: none;
  top: -0.6rem;
  left: 0.5rem;
}
.bodyIndex .form .formIngreso .contenidoFormulario .sectionform .boton {
  background-color: #0a2540;
  color: aliceblue;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #f4f5ff;
}
.bodyIndex .header {
  background-color: rgb(10, 37, 64);
}
.bodyIndex .header .divHeader {
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}
.bodyIndex .header .divHeader .sectionHeader {
  height: 4rem;
}
.bodyIndex .header .divHeader .sectionHeader .logoHeader {
  margin-left: 1rem;
  margin-top: 0.5rem;
  height: 110%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bodyIndex .header .divHeader .ulHeader {
  width: 70%;
  display: flex;
}
.bodyIndex .header .divHeader .ulHeader .ulList {
  font-size: 1.5rem;
  color: aliceblue;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.bodyIndex .header .divHeader .ulHeader .ulList :hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.bodyIndex .header .divHeader .ulHeader .ulList .headerListItem {
  text-decoration: none;
  color: aliceblue;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #f4f5ff;
}
.bodyIndex .header {
  background-color: rgb(10, 37, 64);
}
.bodyIndex .header .divHeader {
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}
.bodyIndex .header .divHeader .sectionHeader {
  height: 4rem;
}
.bodyIndex .header .divHeader .sectionHeader .logoHeader {
  margin-left: 1rem;
  margin-top: 0.5rem;
  height: 110%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bodyIndex .header .divHeader .ulHeader {
  width: 70%;
  display: flex;
}
.bodyIndex .header .divHeader .ulHeader .ulList {
  font-size: 1.5rem;
  color: aliceblue;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.bodyIndex .header .divHeader .ulHeader .ulList :hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.bodyIndex .header .divHeader .ulHeader .ulList .headerListItem {
  text-decoration: none;
  color: aliceblue;
}

.contenedorInversiones {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 60%;
}
.contenedorInversiones .spanInversiones {
  margin-top: 1.5rem;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.contenedorInversiones .divInversiones {
  width: 100%;
}
.contenedorInversiones .divInversiones .sectionInversion {
  width: 100%; /* Ahora ocupa el 100% del padre */
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #e8eafc;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #e8eafc;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #e8eafc;
}

.bodyIndex {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #e8eafc;
}

/*# sourceMappingURL=style.css.map */
