@use "./pages/calculadora.scss";
@use "./pages/contacto.scss";
@use "./pages/inicio.scss";
@use "./pages/ordenes.scss";
@use "./pages/prestamos.scss";
@use "./pages/quienessomos.scss";
@use "./pages/recuperacion.scss";
@use "./pages/registro.scss";
@use "./pages/index.scss";

.bodyIndex{
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #e8eafc;

}