@use "./abstracts/variables.scss";
@use "./layout/header.scss";
@use "./components/forms.scss";
@use "./components/buttons.scss";
.bodyIndex{
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #e8eafc;

}