@use"../abstracts/variables.scss";
@use"../base/fonts.scss";
@use"../components/buttons.scss";
@use"../layout/footer.scss";
@use"../layout/header.scss";
@use"../abstracts/errores.scss";

.bodyPrestamos{
    width: 100%;
    background-color: rgb(235, 225, 225);
    .contenedorHeadPrestamos{
        width: 100%;

        
        .h1Prestamos{
            margin-top: 2rem;
            text-align: center;
            width: 100%;
        }

        .divImgsPrestamos{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 3rem;

            .imgsPrestamos{
                margin-top: 3rem;
                width: 200px;
                height: 200px;
                object-fit: cover;
                max-width: 100%;
                border-radius: 15px;
            }
        }
    }
    .formulariosPrestamos{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .datosPrestamo{
            width: auto;
            margin: 2rem 4rem 0 4rem;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: aqua;

            .formPrestamo{
                width: auto;
                padding: 0 2rem;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                 background-color: variables.$color-principal;
                height: 100%;
                .fieldsetPrestamo{
                    padding: 1rem 0;
                    border: none;
                    .sectioFormPrestamo{
                        color: rgb(162, 162, 162);
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        
    }
}