@use"../abstracts/variables.scss";

.botonesIngresoInvEgreso{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .botonIngresoDinero{
        margin-left: 2rem;
        height: 3rem;
        width: 25rem;
        border-top: 4px solid variables.$color-principal;
    }

    .botonInvertir{
        width: 60rem;
    }
    .botonEgresoDinero{
        margin-right: 2rem;
        width: 25rem;
    }
}